<div class="table-row" data-test-grid-row>
    <div class="table-col-show-summary">
        <button data-test-show-summary {{on "click" this.toggleSummary}}>
            {{if this.isSummaryVisible '-' '+'}}
        </button>
    </div>
    <div class="table-col" data-test-table-col-name>{{@budget.name}}</div>
    <div class="table-col" data-test-table-col-description>{{@budget.description}}</div>
    <div class="table-col last-col">
        <LinkTo @route="budget.item" @model={{@budget.id}} data-test-table-col-link-to-edit>[Edit]</LinkTo>
        <span data-test-table-col-link-to-delete>[Delete]</span>
    </div>
</div>
{{#if this.isSummaryVisible}}
    <div class="regular-summary" data-test-row-summary>
        <div>Total: XXX,XX</div>
        <div>Average: XX,XX</div>
    </div>
{{/if}}
